* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --cor-principal: darkblue;
    --cor-texto: #333;
    --cor-fundo-claro: #eee;
    --cor-borda: #000;
    --cor-sombra: gray;
    --fonte-padrao: Arial, sans-serif;
    --largura-maxima: 840px;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
}

main {
  max-width: var(--largura-maxima);
  margin: 2rem auto;
  font-family: var(--fonte-padrao);
}

h1 {
  text-align: center;
  font-size: 1.5rem;
  text-shadow: 3px 3px 5px #777;
  color: var(--cor-principal);
}

header img {
  border-radius: 5px;
}

nav a {
  color: white;
  display: block;
  padding: 20px;
}

main img {
  /* outras declarações CSS aqui */
  float: right;
}

aside {
  width: 20rem;
  margin: 1rem;
  border: 1px solid rgb(0 0 0 / 0.2);
  padding: 1rem;
  background-color: var(--cor-fundo-claro);
  color: var(--cor-texto);
  text-align: center;
}

.hero img {
  width: 100%;
  height: auto;
}

p {
  padding: 0px;
}

footer {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: 1rem;
}

footer p {
  margin-bottom: 1rem;
}

footer nav.socialmedia a {
  margin: 0 10px;
}
aside {
  width: 20em;
  text-align: center;
}
aside h2 {
  position: absolute;
  top: 47px;
  left: 150px;
}
